{% include base_path %}

<nav class="blog-filter{% if include.mode == 'post' %} blog-filter--post{% endif %}" aria-label="Blog documentation">
  <p class="blog-filter__title">Blog documentation</p>
  <a class="blog-filter__all{% unless include.mode == 'post' %} is-active{% endunless %}" href="{{ base_path }}/blog/">All articles</a>

  <ul class="blog-filter__tree">
    {% for category in site.data.blog-categories %}
      {% assign category_posts = site.posts | where: "blog_category", category.id | sort: "blog_order" %}
      {% assign sections = category_posts | map: "blog_section" | compact | uniq | sort %}
      {% if category_posts.size > 0 %}
        <li class="blog-filter__tree-item">
          <details class="blog-filter__details"{% if page.blog_category == category.id %} open{% endif %}>
            <summary class="blog-filter__summary">{{ category.title }}</summary>
            <ul class="blog-filter__tree">
              {% for section in sections %}
                {% assign section_posts = category_posts | where: "blog_section", section %}
                {% assign series_list = section_posts | map: "blog_series" | compact | uniq | sort %}
                <li class="blog-filter__tree-item">
                  <details class="blog-filter__details"{% if page.blog_category == category.id %} open{% endif %}>
                    <summary class="blog-filter__summary">{{ section }}</summary>
                    <ul class="blog-filter__tree">
                      {% for series in series_list %}
                        {% assign series_posts = section_posts | where: "blog_series", series %}
                        <li class="blog-filter__series">{{ series }}</li>
                        {% for post in series_posts %}
                          <li><a class="blog-filter__link{% if page.url == post.url %} is-active{% endif %}"{% if page.url == post.url %} aria-current="page"{% endif %} href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                      {% endfor %}
                      {% assign section_unsorted_posts = section_posts | where_exp: "post", "post.blog_series == nil" %}
                      {% for post in section_unsorted_posts %}
                        <li><a class="blog-filter__link{% if page.url == post.url %} is-active{% endif %}"{% if page.url == post.url %} aria-current="page"{% endif %} href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </details>
                </li>
              {% endfor %}
              {% assign ungrouped_posts = category_posts | where_exp: "post", "post.blog_section == nil" %}
              {% for post in ungrouped_posts %}
                <li><a class="blog-filter__link{% if page.url == post.url %} is-active{% endif %}"{% if page.url == post.url %} aria-current="page"{% endif %} href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </details>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>